torch==2.5.1 --index-url https://download.pytorch.org/whl/cu121
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu121
# flash_attn==2.7.4.post1 #--no-build-isolation
# fix bug by set `from torchvision.transforms.functional import InterpolationMode, F_t`
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu121
xformers==0.0.28.post3 --index-url https://download.pytorch.org/whl/cu121
